<!DOCTYPE html>
<html>
<body>
<p>Dear {{contactName}},</p>

<p>This is Ly from debiON.</p> 
{{#if googleDriveUrl}}
<p>We are looking suppliers for products attached in this link: <a href="{{googleDriveUrl}}">{{googleDriveUrl}}</a></p> 
<p>You can also check more details on our Portal: <a href="{{rfqUrl}}">here</a><br/>
{{else}}
We are looking suppliers for products attached in this link: <a href="{{rfqUrl}}">here</a><br/>
{{/if}}

Please send us the quotation for these products.</p>

<p>Please note the due date for this request: {{dueDate}}<br/>
Find more information about us: <a href="https://debion.vn/for-manufacturers/">https://debion.vn/for-manufacturers/</a></p>

 

<p>I am looking forward to hearing from you. If you have any questions, please contact me.</p>

<p>Thank you,<br/>
{{signature}}</p>

</body>
</html>